body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

a{
  text-decoration: none;
}

#wrapper {
  display: flex;
}

#sidebar {
  width: 250px;
  background-color: #078595;
  color: #fff;
  transition: width 0.3s;
  min-height: 100vh;
}

#sidebar.collapsed {
  width: 50px;
}

#content {
  flex: 1;
}

#header {
  background-color: #fff;
  color: #6a6a6a;
  padding: 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#menu-toggle {
  color: #454545;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 18px;
  font-weight: 700;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu .toggle {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}
.header-menu .toggle p {
  margin: 2px 0 0;
}

.sidebar .logo {
  padding: 10px 0px;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
}

.simple-text.logo-mini {
  margin-top: 5px;
}

.simple-text.logo-normal {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-left: 14px;
}

.main-content {
  padding: 0px 15px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 10px;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

.submenu {
  display: none;
  padding-left: 20px;
}


.sidebar-menu {
  padding: 0 6px;
}
.sidebar-menu .menu a:first-child {
  margin-right: 5px;
}

ul.submenu li {
  list-style: none;
}

.menu li {
  display: flex;
  gap: 10px;
}