.hero-sec {
  margin-top: 130px;
}

.hero-sec video {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}


/* ----- media query -----  */
@media (max-width: 800px) {
  .hero-sec {
    margin-top: 73px;
  }
}

@media (max-width: 500px) {
  .hero-sec {
    margin-top: 110px;
  }
}

/* -- Sign In & Sign Up Section --  */
.user-login-sec {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 50%;
  margin: 200px auto 100px;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid var(--bs-red);
}

.user-login-sec .form-label {
  font-size: 17px;
  font-weight: 600;
  color: #373f50;
}

.user-login-sec .forget {
  display: flex;
  justify-content: space-between;
  margin: 14px 0;
}

.user-login-sec .forget a {
  color: var(--bs-red);
}

.user-login-sec .modal-heading {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--bs-red);
  margin-bottom: 16px;
}


/* -- how it work -- */
.video-card video {
  width: 100%;
}

/* -- carousel sopping product --  */
/* .cycle-tab-container {
  margin: 30px auto;
  width: 800px;
  padding: 20px;
  box-shadow: 0 0 10px 2px #ddd;
}

.cycle-tab-container a {
  color: #173649;
  font-size: 16px;
  font-family: roboto;
  text-align: center;
}

.tab-pane {
    text-align: center;
    height: 100px !important;
    margin: 30px auto;
    width: 500px;
    max-width: 100%;
}

.fade {
  opacity: 0;
  transition: opacity 4s ease-in-out;
}

.fade.active {
  opacity: 1;
}

.cycle-tab-item {
  width: 180px;
}

.cycle-tab-item:after {
  display:block;
  content: '';
  border-bottom: solid 3px orange;  
  transform: scaleX(0);  
  transition: transform 0ms ease-out;
}
.cycle-tab-item.active:after { 
  transform: scaleX(1);
  transform-origin:  0% 50%; 
  transition: transform 5000ms ease-in;
}


.nav-link:focus,
.nav-link:hover,
.cycle-tab-item.active a {
  border-color: transparent !important;
  color: orange;
} */