:root {
  --bs-ample-color: #f75d00;
  --bs-red: #f75d00;
  --bs-dark-red: #d80000;
  --bs-white: #fff;
  --bs-cyan: #40cbb4;
  --bs-yellow: #ffc20b;
  --bs-black: #000;
  --bs-gray: #848484;
  --bs-text: #5a5a5a;

  --bs-transition: 0.6s ease;
}

.hero-sec video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}


/* ----- media query -----  */
@media (max-width: 800px) {
  .hero-sec {
    margin-top: 73px;
  }
}

@media (max-width: 500px) {
  .hero-sec {
    margin-top: 110px;
  }
}

/* -- Sign In & Sign Up Section --  */
.user-login-sec {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 50%;
  margin: 150px auto 80px;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid var(--bs-red);
}

.user-login-sec .form-label {
  font-size: 17px;
  font-weight: 600;
  color: #373f50;
}

.user-login-sec .forget {
  display: flex;
  justify-content: space-between;
  margin: 14px 0;
}

.user-login-sec .forget a {
  color: var(--bs-red);
}

.user-login-sec .modal-heading {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--bs-red);
  margin-bottom: 16px;
}

@media (max-width: 500px) {
  .user-login-sec {
    width: 90%;
  }
}

/* --  three box  -- */
.box-3 .store-brand {
  background: url(../images/box-3/box-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.box-3 .store-brand .cont-a {
  background: rgba(0, 0, 0, 0.85) none repeat scroll 0 0;
  height: 300px;
}

.box-3 .store-brand .cont-a h2 {
  color: var(--bs-white);
  padding-top: 100px;
  padding-bottom: 15px;
  margin: 0;
  text-align: center;
}

.box-3 .store-brand .cont-a h2 span {
  color: var(--bs-white);
  padding: 0 30px;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  border-bottom: 7px groove var(--bs-white);
}

.box-3 .channel-network {
  background: url(../images/box-3/box-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.box-3 .channel-network .cont-b {
  background: rgba(247, 93, 0, 0.9) none repeat scroll 0 0;
  height: 360px;
  margin: -31px 0 0;
}

.box-3 .channel-network .cont-b h2 {
  color: var(--bs-white);
  padding-top: 100px;
  padding-bottom: 15px;
  margin: 0;
}

.box-3 .channel-network .cont-b img {
  margin: auto;
  display: flex;
  width: 300px;
}

.box-3 .mall {
  background: url(../images/box-3/box-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.box-3 .mall .cont-c {
  background: rgba(0, 0, 0, 0.85) none repeat scroll 0 0;
  height: 300px;
}

.box-3 .mall .cont-c h2 {
  color: var(--bs-white);
  padding-top: 100px;
  padding-bottom: 15px;
  margin: 0;
  text-align: center;
}

.box-3 .mall .cont-c h2 span {
  color: var(--bs-white);
  padding: 0 30px;
  border-bottom: 7px groove var(--bs-white);
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.box-3 .cont-a p,
.box-3 .cont-b p,
.box-3 .cont-c p {
  font-size: 20px;
  text-align: center;
  color: var(--bs-white);
  text-transform: uppercase;
  margin: 0 auto;
  width: 70%;
}

@media only screen and (max-width: 800px) {

  .box-3 .store-brand .cont-a h2 span,
  .box-3 .mall .cont-c h2 span {
    font-size: 30px;
  }
}


/* -- price -- */

.price-sec {
  background: url(../images/price/prices.jpg) 50% 0 no-repeat fixed;
  min-height: 100vh;
  background-size: cover;
  width: 100%;
}

.price-sec .how-it {
  background: rgba(0, 0, 0, 0.61) none repeat scroll 0 0;
  padding: 40px 0;
}

.price-sec h4 {
  color: var(--bs-white);
  text-align: center;
  margin-bottom: 60px;
  font-size: 45px;
  background: url(../images/price/background-line.png) 49% 114% no-repeat;
  margin-top: 34px;
}

/* price card  */
.pricing-section {
  position: relative;
  padding: 100px 0 80px;
  overflow: hidden;
}

.pricing-section .outer-box {
  max-width: 1100px;
  margin: 0 auto;
}


.pricing-section .row {
  margin: 0 -30px;
}

.pricing-block {
  position: relative;
  padding: 0 10px;
  margin-bottom: 40px;
}

.pricing-block .inner-box {
  position: relative;
  background-color: var(--bs-white);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  padding: 0 0 30px;
  max-width: 370px;
  margin: 0 auto;
  border-bottom: 20px solid var(--bs-cyan);
  min-height: 550px;
}

.pricing-block .icon-box {
  position: relative;
  padding: 50px 30px 0;
  background-color: var(--bs-cyan);
  text-align: center;
}

.pricing-block .icon-box:before {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  border-radius: 50% 50% 0 0;
  background-color: var(--bs-white);
  content: "";
}


.pricing-block .icon-box .icon-outer {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
  background: var(--bs-black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing-block .icon-box img {
  position: relative;
  display: block;
  height: 180px;
  width: 180px;
  line-height: 120px;
  border: 5px solid var(--bs-cyan);
  border-radius: 50%;
  font-size: 50px;
  color: var(--bs-cyan);
  -webkit-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  transition: all 600ms ease;
}

.pricing-block .inner-box:hover .icon-box img {
  transform: rotate(360deg);
}

.pricing-block .price-box {
  position: relative;
  text-align: center;
  padding: 10px 20px;
}

.pricing-block .price {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: var(--bs-cyan);
  margin: 0;
}

.pricing-block .features {
  padding: 20px 40px;
}

.pricing-block .features p {
  position: relative;
  font-size: 16px;
  line-height: 30px;
  color: var(--bs-gray);
  font-weight: 500;
  text-align: center;
}

.pricing-block .btn-box {
  position: relative;
  text-align: center;
}

.pricing-block .btn-box a {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  color: var(--bs-white);
  font-weight: 500;
  padding: 8px 30px;
  background-color: var(--bs-cyan);
  border-radius: 10px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: all 300ms ease;
}

.pricing-block .btn-box a:hover {
  color: var(--bs-white);
}

.pricing-block .inner-box:hover .btn-box a {
  color: var(--bs-cyan);
  background: none;
  border-radius: 0px;
  border-color: var(--bs-cyan);
}

.pricing-block:nth-child(2) .icon-box img,
.pricing-block:nth-child(2) .inner-box {
  border-color: var(--bs-red);
}

.pricing-block:nth-child(2) .btn-box a,
.pricing-block:nth-child(2) .icon-box {
  background-color: var(--bs-red);
}

.pricing-block:nth-child(2) .inner-box:hover .btn-box a {
  color: var(--bs-red);
  background: none;
  border-radius: 0px;
  border-color: var(--bs-red);
}

.pricing-block:nth-child(2) .icon-box img,
.pricing-block:nth-child(2) .price {
  color: var(--bs-red);
}

.pricing-block:nth-child(3) .icon-box img,
.pricing-block:nth-child(3) .inner-box {
  border-color: var(--bs-ample-color);
}

.pricing-block:nth-child(3) .btn-box a,
.pricing-block:nth-child(3) .icon-box {
  background-color: var(--bs-ample-color);
}

.pricing-block:nth-child(3) .icon-box img,
.pricing-block:nth-child(3) .price {
  color: var(--bs-ample-color);
}

.pricing-block:nth-child(3) .inner-box:hover .btn-box a {
  color: var(--bs-ample-color);
  background: none;
  border-radius: 0px;
  border-color: var(--bs-ample-color);
}

@media (max-width: 800px) {
  .price-sec h4 {
    font-size: 35px;
  }
}

/* end price card  */

.price-sec .video-card {
  position: relative;
  width: 100%;
  border: 1px solid #878787;
  box-shadow: rgb(160 160 160) 0px 3px 8px;
}

.price-sec .video-card .play-btn {
  position: absolute;
  color: var(--bs-white);
  left: 5px;
  top: 5px;
}

.price-sec .video-card .play-btn img {
  width: 40px;
}

.price-sec .video-card .ampl_video_time {
  position: absolute;
  bottom: 0;
  margin: 0px;
  background-color: var(--bs-red);
  padding: 2px 10px;
  border-radius: 2px;
  letter-spacing: 0.5px;
  left: 38px;
  color: var(--bs-white);
  font-weight: bold;
}

.video-modal .modal-content {
  border-radius: 0;
}

.video-modal .modal-body {
  background-image: url('../images/price/moviescreen.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
  border: 5px solid var(--bs-black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-modal .btn-close {
  background: var(--bs-red);
  border: 2px solid var(--bs-white);
  border-radius: 10em !important;
  box-sizing: border-box;
  color: var(--bs-white);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 35px;
  text-align: center;
  width: 35px;
  right: -15px;
  position: absolute;
  top: -15px;
}

.video-modal .video-play {
  width: 84%;
  height: 50vh;
  border: 4px solid black;
  position: relative;
}

.video-modal video {
  width: 100%;
  height: 100%;
}

/* -- carousel shopping product --  */
.tab-container {
  display: flex;
  border: 1px solid #d5d6d6;
}

.tab-button {
  padding: 10px 20px;
  background-color: var(--bs-white);
  border: 2px solid var(--bs-white);
  margin-right: 10px;
  font-size: 16px;
  font-weight: 600;
}

.tab-button:hover,
.tab-button:focus:not(:focus-visible),
.tab-active {
  border-top: 2px solid var(--bs-red);
  color: var(--bs-red);
}

.tab-content {
  display: none;
}

.shopping-products .main-tab {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.shopping-products .product-name {
  background: var(--bs-red);
  color: var(--bs-white);
  text-align: center;
  width: 100%;
  padding: 10px 2px;
  position: relative;
}

.shopping-products .product-name a {
  color: var(--bs-white);
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.shopping-products .product-name span {
  position: absolute;
  right: 5px;
}

.shopping-products .product-single-img {
  width: 100%;
  height: 100%;
}

.shopping-products .product-single-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shopping-products .fashion {
  width: 100%;
  background: var(--bs-red);
  padding: 12px 5px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}

.shopping-products .fashion span {
  position: absolute;
  right: 10px;
}

.shopping-products .sideTab-button {
  background-color: var(--bs-white);
  border: 2px solid var(--bs-white);
  font-size: 16px;
  font-weight: 600;
  margin: auto;
  display: flex;
  padding: 5px;
  transition: var(--bs-transition);
}

.shopping-products .sideTab-button:hover {
  color: var(--bs-red);
}

.shopping-products .card-side-menu {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}


/* -- product single card --  */
.user-select-none {
  user-select: none;
}

a {
  text-decoration: none;
  color: unset;
}

.review-star {
  color: #fdcc0d;
  font-size: 13px;
}

.product-single-card {
  padding: 5px;
  transition: 0.5s ease-in;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.product-single-card .product-info {
  padding: 15px 10px 0;
}

.product-single-card .product-top-area {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
}

.product-single-card .product-top-area .product-discount {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--bs-white);
  background: var(--bs-red);
  border-radius: 3px;
  padding: 5px 10px;
  user-select: none;
  z-index: 999;
  font-size: 12px;
}

.product-single-card .product-top-area .product-img {
  aspect-ratio: 1/1;
  overflow: hidden;
}

.product-single-card .product-top-area .product-img .first-view {
  transition: 0.5s ease-in;
}

.product-single-card .product-top-area .product-img .hover-view {
  opacity: 0;
  transition: 0.5s ease-in;
}

.product-single-card .product-top-area:hover .product-img .first-view {
  opacity: 0;
  width: 0;
  height: 0;
}

.product-single-card .product-top-area:hover .product-img .hover-view {
  opacity: 100%;
  scale: 1.2;
}

.product-single-card .product-top-area .sideicons {
  position: absolute;
  right: 15px;
  display: grid;
  gap: 10px;
}

.product-single-card .product-top-area .sideicons .sideicons-btn {
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  border: none;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateX(60px);
  transition: 0.3s ease-in;
  -webkit-box-shadow: 1px 1px 28.5px -7px #dddddd;
  -moz-box-shadow: 1px 1px 28.5px -7px #dddddd;
  box-shadow: 1px 1px 28.5px -7px #dddddd;
}

.product-single-card .product-top-area .sideicons .sideicons-btn:hover {
  color: #fff;
  background-color: var(--bs-red);
}

.product-single-card .product-top-area .sideicons .sideicons-btn:nth-child(1) {
  transition-delay: 100ms;
}

.product-single-card .product-top-area .sideicons .sideicons-btn:nth-child(2) {
  transition-delay: 200ms;
}

.product-single-card .product-top-area .sideicons .sideicons-btn:nth-child(3) {
  transition-delay: 300ms;
}

.product-single-card .product-top-area .sideicons .sideicons-btn:nth-child(4) {
  transition-delay: 400ms;
}

.product-single-card .product-top-area:hover .sideicons .sideicons-btn {
  opacity: 100%;
  visibility: visible;
  transform: translateX(0);
}

.product-single-card .product-info .product-category {
  font-weight: 600;
  opacity: 60%;
}

.product-single-card .product-info .product-title {
  font-size: 16px;
  font-weight: 600;
}

.product-single-card .product-info .old-price,
.product-single-card .product-info .new-price {
  padding-right: 15px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.product-single-card .product-info .old-price {
  text-decoration: line-through;
  opacity: 70%;
}

/* ----- media query -----  */

@media only screen and (min-width: 768px) {

  /* For desktop: */
  .pricing-block .features {
    height: 140px;
  }
}

@media only screen and (min-width: 501px) {
  .sidebar-header nav {
    display: none;
  }

  #sidebarTabMenu {
    display: block !important;
  }
}

@media only screen and (max-width: 500px) {
  .shopping-products {
    padding: 0 5px;
  }

  .sidebar-header {
    display: flex;
  }

  .sidebar-header nav {
    height: 48px;
    padding-right: 20px;
  }

  .shopping-products .sideTab-button {
    display: block;
  }

  .tab-container {
    justify-content: space-between;
    padding: 0px 5px;
    height: 50px;
  }

  .tab-button {
    padding: 0;
  }

  .shopping-products .mob {
    height: 200px;
    margin-bottom: 20px;
  }

  .product-single-card {
    width: 80%;
    margin: 0 auto 20px;
  }
}

/* -- two images box --  */
.two-imgs-box {
  margin: 20px 0;
}

.two-imgs-box .banner-border-zoom {
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.two-imgs-box .banner-border-zoom img {
  transition: var(--bs-transition);
  width: 100%;
  object-fit: cover;
}

.two-imgs-box .banner-border-zoom img:hover {
  transform: scale(1.2);
}

/* -- home text sec --  */
.home-text-sec {
  background: #f1f1f1;
}

.home-text-sec h4 {
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.home-text-sec p {
  text-align: justify;
}






/* ============================================================================= */
/* ************************ STORE ************************* */
/* ============================================================================= */

.store {
  margin-top: 120px;
}

.slick-slide {
  height: auto !important;
}

.slick-next:before,
.slick-prev:before {
  color: var(--bs-dark-red) !important;
  font-size: 24px !important;
}

.slick-initialized .slick-slide {
  padding: 5px;
}

.vendor-div-box {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 5px;
  transition: 0.6s ease;
  border: 2px solid var(--bs-red);
}

.vendor-div-box:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-color: var(--bs-dark-red);
}

.vendor-divimg {
  padding: 5px;
  min-height: 190px !important;
  max-height: 190px !important;
}

.vendor-divimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vendor-detail {
  background: var(--bs-red);
  padding: 10px;
}

.vendor-detail h4,
.vendor-detail h3,
.vendor-detail h5 {
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  margin: 0;
}

.vendor-detail h3 {
  font-size: 14px;
  margin: 10px 0;
}

.vendor-detail h5 {
  font-size: 12px;
}

.vendor-detail h4 i {
  font-size: 14px;
  margin-right: 5px;
}

.vendor-detail h3 i {
  font-size: 12px;
  margin-right: 5px;
}

.vendor-detail h5 i {
  font-size: 10px;
  margin-right: 5px;
}

.online-store .page-heading {
  font-size: 25px;
  text-transform: capitalize;
  margin-left: 7px;
}

.online-store .mulitchec {
  list-style: outside none none;
  margin: 0;
  padding: 15px 10px 15px;
}

.online-store .mulitchec li {
  margin-bottom: 9px;
  display: inline-block;
}

.online-store .mulitchec li a {
  background: #fff none repeat scroll 0 0;
  border: 1px solid;
  color: #999;
  display: block;
  font-family: arial;
  font-size: 16px;
  height: 28px;
  padding: 2px 10px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  transition: 0.6s ease;
}

.online-store .mulitchec li a:hover {
  transform: translateY(-3px);
}

.main-pagination {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.store-pagination .pagination {
  display: flex;
  justify-content: start;
  margin: 20px;
}

.store-pagination .pagination ul {
  display: inline;
  padding: 0;
}

.store-pagination .pagination li {
  display: inline;
  margin: 0 5px;
}

.store-pagination .pagination span {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.store-pagination .pagination span.active {
  background-color: #eee;
}

@media (max-width: 800px) {
  .main-pagination {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .store {
    width: 90%;
    margin: 130px auto 0;
  }

  .main-pagination {
    grid-template-columns: 1fr;
  }
}









/* ============================================================================= */
/* ************************ CATEGORY ************************* */
/* ============================================================================= */

/* .img-parallax {
  width: 200px;
  position: absolute;
  bottom: -50px;
  right: 100px;
  background: var(--bs-white);
  padding: 15px;
  box-shadow: 0 3px 5px 1px #565656;
  border-radius: 5px;
} */

/* .top-banner-text-a h6 {
  font-size: 20px;
  height: 49px;
  line-height: 49px;
  font-family: sans-serif;
  color: #3e3e3e;
  margin: 0;
  text-align: center;
} */

.category {
  padding: 80px 0px 0px;
}

.category-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin-top: 30px;
}

.category .vendor-detail h4,
.category .vendor-detail h3,
.category .vendor-detail h5 {
  text-align: left;
}

@media (max-width: 800px) {
  .img-parallax {
    right: 35px;
  }

  .category-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .img-parallax {
    right: 15px;
  }

  .category-content {
    grid-template-columns: 1fr;
  }
}






/* ============================================================================= */
/* ************************ PRODUCTS ************************* */
/* ============================================================================= */

.products .filter,
.products .testimonials {
  border: 1px solid var(--bs-red);
  margin-top: 8px;
  margin-bottom: 20px;
}

.products .filter-heading {
  margin: 0;
  border: 1px solid var(--bs-red);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #5a5a5a;
  padding: 10px 0;
  text-transform: uppercase;
}

.filter-price {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 10px auto;
}

.price-title {
  position: relative;
  color: #5a5a5a;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
}

.price-field {
  position: relative;
  width: 100%;
  height: 36px;
  box-sizing: border-box;
  background: var(--bs-red);
  padding-top: 15px;
  padding-left: 16px;
  border-radius: 3px;
}

.price-field input[type=range] {
  position: absolute;
}

/* Reset style for input range */

.price-field input[type=range] {
  width: 90%;
  height: 2px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  -webkit-appearance: none;
}

.price-field input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.price-field input[type=range]:active,
.price-field input[type=range]:focus {
  outline: 0;
}

.price-field input[type=range]::-ms-track {
  width: 188px;
  height: 2px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  background: transparent;
  border-color: transparent;
  color: transparent;
  border-radius: 5px;
}

/* Style toddler input range */

.price-field input[type=range]::-webkit-slider-thumb {
  /* WebKit/Blink */
  position: relative;
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -4px;
  background-color: #fff;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

.price-field input[type=range]::-moz-range-thumb {
  /* Firefox */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  background-color: #fff;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

.price-field input[type=range]::-ms-thumb {
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  background-color: #fff;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

.price-field input[type=range]::-webkit-slider-runnable-track {
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #fff;
  border-radius: 5px;
}

.price-field input[type=range]::-moz-range-track {
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #fff;
  border-radius: 5px;
}

.price-field input[type=range]::-ms-track {
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #fff;
  border-radius: 5px;
}

.price-wrap {
  display: flex;
  color: #5a5a5a;
  font-size: 14px;
  line-height: 1.2em;
  margin-bottom: 7px;
  font-weight: 700;
  margin-top: 7px;
}

.price-wrap-1,
.price-wrap-2 {
  display: flex;
}

.price-title {
  margin-right: 5px;
  font-weight: 700;
}

.price-wrap_line {
  margin: 0 10px;
}

.price-wrap #one,
.price-wrap #two {
  width: 30px;
  text-align: right;
  margin: 0;
  padding: 0;
  margin-right: 2px;
  background: 0;
  border: 0;
  outline: 0;
  color: #5a5a5a;
  font-family: 'Karla', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 700;
}

.price-wrap label {
  text-align: right;
}

.price-field input[type=range]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5px #fff;
  transition-duration: 0.3s;
}

.price-field input[type=range]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5px #fff;
  transition-duration: 0.3s;
}


.products .form-check-input[type=checkbox] {
  border-radius: 0;
  margin-right: 20px;
}

.products .form-check {
  display: flex;
  align-items: center;
}

.products .price-range label {
  font-weight: 700;
  margin-right: 5px;
  color: #5f5f5f;
}

.products .price-range label:hover {
  color: var(--bs-red);
  cursor: pointer;
}

.products .price-range label span {
  font-weight: 700;
  margin-right: 5px;
  color: #9c9c9c;
}

.products h4.price-head {
  font-size: 16px;
  font-weight: 600;
  color: #878787;
  text-transform: uppercase;
}

.products .price-range.brand {
  border-bottom: 1px solid var(--bs-red);
  margin: 5px 0;
  padding: 6px 0px;
}

.products .price-range.brand.first {
  border-top: 1px solid var(--bs-red);
  padding-top: 9px;
}

.products .filter-content {
  padding: 0 10px;
}

.testimonial-card {
  width: 100%;
  padding: 20px 10px 0;
}

.testimonial-card .user-name {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  color: #6e6e6e;
  margin-bottom: 10px;
}

.testimonial-card .user-img {
  width: 70%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.testimonial-card .user-img img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-card .user-desc {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #6a6a6a;
  text-align: justify;
  margin-bottom: 0;
}

.slick-dots li button:before {
  font-size: 14px !important;
  color: #f00 !important;
}

.slick-dots li.slick-active button:before {
  color: var(--bs-red);
}

.slick-list,
.slick-slider,
.slick-track {
  display: block !important;
}

.testimonial-cont {
  padding-bottom: 20px;
}

.products .channel {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px 0;
}

.products .channel a {
  margin-right: 20%;
  background: var(--bs-red);
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: var(--bs-transition);
}

.products .channel a:hover {
  background: var(--bs-dark-red);
}

.products-heading {
  font-size: 30px;
  color: #5a5a5a;
  margin-bottom: 10px;
}

.products-tab-buttons {
  background: #ededed;
  padding: 10px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.products-tab-buttons h4 {
  font-size: 14px;
  font-weight: 700;
  color: #444444;
  margin: 0;
}

.products-tab-buttons .products-tab-button {
  border: 1px solid #b8b8b8;
  background: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 2px;
}

.products-tab-buttons .products-tab-button i {
  font-size: 13px;
  margin-right: 5px;
}

.products-tab {
  display: none;
}

.active-products-tab {
  display: block;
}

@media (max-width: 1024px) {
  .products .channel a {
    margin-right: 30%;
  }
}

@media (max-width: 800px) {
  .products .channel a {
    margin-right: 34%;
  }
}

@media (max-width: 500px) {
  .products .channel {
    justify-content: start;
  }

  .products .channel a {
    margin-right: 0;
  }
}






/* ============================================================================= */
/* ************************ PRODUCTS DETAILS ************************* */
/* ============================================================================= */

.product-details {
  margin-top: 100px;
}

.card-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

.img-display {
  overflow: hidden;
}

.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}

.img-showcase img {
  min-width: 100%;
}

.img-select {
  display: flex;
}

.img-item {
  margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}

.img-item:hover {
  opacity: 0.8;
}

.product-content {
  padding: 2rem 1rem;
}

.product-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}

.product-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}

.product-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}

.product-link:hover {
  opacity: 0.9;
}

.product-rating {
  color: #ffc107;
}

.product-rating span {
  font-weight: 600;
  color: #252525;
}

.product-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}

.product-price span {
  font-weight: 400;
}

.last-price span {
  color: #f64749;
  text-decoration: line-through;
}

.new-price span {
  color: #256eff;
}

.product-detail h2 {
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}

.product-detail p {
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}

.product-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.product-detail ul li {
  margin: 0;
  list-style: none;
  background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}

.product-detail ul li span {
  font-weight: 400;
}

.purchase-info {
  margin: 1.5rem 0;
}

.purchase-info input,
.purchase-info .btn {
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}

.purchase-info input {
  width: 60px;
}

.purchase-info .btn {
  cursor: pointer;
  color: #fff;
}

.purchase-info .btn:first-of-type {
  background: #256eff;
}

.purchase-info .btn:last-of-type {
  background: #f64749;
}

.purchase-info .btn:hover {
  opacity: 0.9;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}

.social-links a:hover {
  background: #000;
  border-color: transparent;
  color: #fff;
}

@media screen and (min-width: 992px) {
  .product-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .product-content {
    padding-top: 0;
  }
}

.product-details .shipping {
  background: #ff9800;
  margin-top: 12px;
  border-radius: 5px;
  padding: 8px;
}

.product-details .form-check.first-check {
  background: #14008e;
  color: var(--bs-white);
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 6px 37px;
  gap: 10px;
  width: fit-content;
}

.product-details .form-check {
  color: var(--bs-white);
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 6px 37px;
  gap: 10px;
  width: fit-content;
}

.product-details .shipping .add-cart-submit button {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  background: var(--bs-dark-red);
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--bs-white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: var(--bs-transition);
  border: 0;
  margin-top: 10px;
  width: 100%;
}

.product-details .shipping .add-cart-submit button:hover {
  box-shadow: none
}

.product-details .shipping-price {
  background: whitesmoke;
  margin-top: 10px;
  border-radius: 5px;
}

.product-details .shipping-price .price-heading {
  background: #525252;
  color: #fff;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.product-details .shipping-price .price-heading h4 {
  font-size: 16px;
  margin: 0;
  text-align: center;
}

.product-details .shipping-price .social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 10px 5px;
}

.product-details .shipping-price .social-icons div {
  padding: 10px;
  font-size: 20px;
  color: var(--bs-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--bs-transition);
}

.product-details .shipping-price .social-icons div:hover {
  transform: translateY(-2px);
}

.product-details .shipping-price .social-icons .face {
  background: #4267B2;
}

.product-details .shipping-price .social-icons .twit {
  background: black;
}

.product-details .shipping-price .social-icons .link {
  background: #4267B2;
}

.product-details .shipping-price .social-icons .wtsp {
  background: #25d366;
}

.product-details .shipping-price .para {
  background: #fff;
  margin: 0 10px 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}

.product-details .shipping-price .para p {
  margin: 0;
}

.product-details .product-name {
  font-size: 24px;
  margin: 0;
  color: #5a5a5a;
}

.product-details .kit {
  font-size: 16px;
  font-weight: 700;
  margin: 5px 0;
  color: var(--bs-text);
}

.product-details .kit span {
  font-size: 16px;
  font-weight: 700;
  color: var(--bs-red);
}

.product-details .price {
  font-size: 18px;
  font-weight: 600;
  color: var(--bs-red)
}

.product-details p {
  color: var(--bs-text);
  margin: 7px 0;
  font-weight: 500;
}

.product-details p span {
  color: #000000;
  font-weight: 700;
}

.product-details p .in-stock {
  color: green;
}

.product-details .btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  transition: var(--bs-transition);
}

.product-details .btn-default:hover {
  background: var(--bs-red);
  color: var(--bs-white);
}

.product-details .list-color {
  display: flex;
  gap: 10px;
}

.product-details .list-color li {
  width: 25px;
  height: 25px;
  border: 1px solid var(--bs-white);
  cursor: pointer;
}

.product-details .list-color li:hover {
  border: 1px solid var(--bs-red);
}

.product-details .attributes {
  display: flex;
}

.product-details .custom button.items-count {
  background-color: #F5F5F5;
  transition: color .3s ease-in-out 0s, background-color .3s ease-in-out 0s, background-position .3s ease-in-out 0s;
  border: none;
  clear: both;
  color: #999;
  font-size: 14px;
  line-height: normal;
  padding: 9px 11px;
  text-align: center;
}

.product-details .pull-left .qty,
.product-details .pull-left .qty-a {
  border: 2px solid #DDD;
  color: #000;
  font-weight: 700;
  margin-right: 0;
  width: 25%;
  background: #FFF;
  text-align: center;
  font-size: 14px;
  padding: 4px 0px;
}

.product-details .attribute-label {
  margin-right: 8px;
  font-weight: 600;
}

.product-details .product-booking {
  border: 1px solid var(--bs-red);
}

.product-details .product-booking h3 {
  background: var(--bs-red);
  color: var(--bs-white);
  padding: 10px 39px 22px;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  position: relative;
}

.product-details .product-booking h3 span {
  position: absolute;
  bottom: -10px;
  left: 50%;
  background: var(--bs-red);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
}

.product-details .product-booking .booking-box-body {
  background: whitesmoke;
}

.product-details .product-booking .booking-box-body form .booking-box-body-cl {
  padding: 20px 10px;
}

.product-details .product-booking .booking-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.product-details .product-booking .booking-form input {
  width: 110px;
  padding: 0 5px;
  font-size: 14px;
  font-weight: 600;
}

.product-details .product-booking .booking-form input:focus-visible {
  border-color: var(--bs-red);
  outline: none;
}

.product-details .product-booking .add-cart-submit {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 15px 0;
}

.product-details .product-booking .add-cart-submit button {
  color: var(--bs-white);
  background-color: #FF9800;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  margin: 0 0 0 0%;
  font-size: 13px;
  transition: var(--bs-transition);
  width: 110px;
}

.product-details .product-booking .add-cart-submit button:hover {
  background-color: var(--bs-red);
}

.product-details .earn-reward {
  background: var(--bs-red);
  color: var(--bs-white);
  padding: 20px 3px 20px;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
  font-size: 14px;
  line-height: 20px;
}

.product-details .earn-reward a:hover {
  color: var(--bs-white);
}

.product-details .product-booking .grand-total {
  margin-top: -8px;
  overflow: hidden;
  background: #ff9800;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-details .product-booking .grand-total .btn-add-cart {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  background: var(--bs-dark-red);
  padding: 7px 15px;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--bs-white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: var(--bs-transition);
}

.product-details .product-booking .grand-total .btn-add-cart:hover {
  box-shadow: none
}

.product-details .product-map {
  margin: 22px 0;
  border: 1px solid var(--bs-red);
}

.product-details .product-details-tab-button {
  border: 1px solid #b8b8b8;
  background: var(--bs-red);
  font-size: 16px;
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 2px;
  color: var(--bs-white);
  text-transform: uppercase;
  transition: var(--bs-transition);
}

.product-details .product-details-tab-button:hover {
  transform: translateY(-2px);
}

.product-details .pro-det-content {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 20px 10px 50px;
  width: 99.5%;
  margin: -10px auto 0;
}

.product-details .pro-det-content .rating-div-select h4,
.product-details .pro-det-content .rating-breakdown {
  font-size: 20px;
  color: var(--bs-text);
}

.product-details .pro-det-content .rating-div-select h2 {
  font-size: 25px;
  color: var(--bs-text);
  padding: 10px 0px;
}

.product-details .pro-det-content .rating-div-select .btn-grey {
  color: #FFF;
}

.product-details .pro-det-content .rating-div-select .btn {
  border-radius: 4px;
  width: auto;
  height: auto;
  line-height: 18px;
}

.product-details .pro-det-content .btn-comment {
  margin-top: 15px;
  text-align: center;
  font-family: sans-serif;
  color: var(--bs-red);
  border: 1px solid var(--bs-red);
  padding: 20px;
}

.product-details .pro-det-content .comment {
  margin-top: 40px;
}

#full-stars-example .rating-group {
  display: inline-flex;
}

#full-stars-example .rating__icon {
  pointer-events: none;
}

#full-stars-example .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#full-stars-example .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 25px;
}

#full-stars-example .rating__icon--star {
  color: orange;
}

#full-stars-example .rating__icon--none {
  color: #eee;
}

#full-stars-example .rating__input--none:checked+.rating__label .rating__icon--none {
  color: var(--bs-red);
}

#full-stars-example .rating__input:checked~.rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example .rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

#full-stars-example .rating__input:hover~.rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example .rating-group:hover .rating__input--none:not(:hover)+.rating__label .rating__icon--none {
  color: #eee;
}

#full-stars-example .rating__input--none:hover+.rating__label .rating__icon--none {
  color: red;
}

.product-details .pro-det-content .pull-left.rating-div-select {
  display: flex;
  align-items: center;
  margin: 10px 0;
  gap: 5px;
}

.product-details .pro-det-content .pull-left div i {
  font-size: 12px;
}








/* ============================================================================= */
/* ************************ GIVE - AWAYS ************************* */
/* ============================================================================= */

.give-aways {
  padding: 100px 0 20px;
}

.product-card {
  box-shadow: 0 2px 7px #dfdfdf;
}


.give-aways .product-tumb {
  padding: 10px;
  background: #f0f0f0;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.give-aways .product-tumb img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.give-aways .product-details {
  padding: 10px 10px 30px;
  text-align: center;
}

.give-aways .product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
  font-size: 18px;
}

.give-aways .product-details h4 a:hover {
  color: var(--bs-red);
}

.give-aways .product-details p {
  font-size: 14px;
  color: #999;
  border-top: 1px solid #eeeeee;
  padding: 5px 0;
  margin: 0;
}

.give-aways .product-details p span {
  color: var(--bs-red)
}

.give-aways .product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 5px;
}

.give-aways .product-bottom-details div {
  width: 50%;
}

.give-aways .product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.give-aways .product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.give-aways .product-links {
  text-align: right;
}

.give-aways .product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.give-aways .product-links a:hover {
  color: #fbb72c;
}

.give-aways .product-bottom-details button {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  background: var(--bs-red);
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--bs-white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: var(--bs-transition);
  border: 0;
  margin-top: 10px;
  width: 100%;
}

.give-aways .product-bottom-details button:hover {
  background: var(--bs-dark-red);
}

.give-aways .last-para {
  color: #6f6f6f;
  font-size: 20px;
  margin-top: 20px;
}

.give-aways .pagination {
  display: flex;
  justify-content: center;
  margin: 40px 0 20px;
}

.give-aways .pagination ul {
  display: inline;
  padding: 0;
}

.give-aways .pagination li {
  display: inline;
  margin: 0 5px;
}

.give-aways .pagination span {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.give-aways .pagination span.active {
  background-color: #eee;
}







/* ============================================================================= */
/* ************************ ABOUT US ************************* */
/* ============================================================================= */

.about-sec {
  background: url('https://amplepoints.com/img/dashboard/abouts-img.jpg') 50% 0 no-repeat fixed;
  min-height: 100vh;
  background-size: cover;
  width: 100%;
}

.about-sec .about-us {
  width: 50%;
  margin: auto;
  padding: 20px 0;
}

.about-para p {
  font-size: 15px;
  font-weight: 500;
  color: #525151;
  text-align: justify;
  line-height: 24px;
}

@media (max-width: 800px) {
  .about-sec .about-us {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .about-sec .about-us {
    width: 95%;
    margin: auto;
  }
}







/* ============================================================================= */
/* ************************ CONTACT US ************************* */
/* ============================================================================= */

.contact-sec .contact-us {
  position: relative;
  padding: 70px 0;
}

.contact-sec .contact-us .form-img {
  position: absolute;
  z-index: -17;
}

.contact-sec .contact-us .form-label {
  font-size: 16px;
  font-weight: 700;
}

.contact-sec .contact-us .submit {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 15px 0;
}

.contact-sec .contact-us .submit button {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  background: var(--bs-red);
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--bs-white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: var(--bs-transition);
  border: 0;
  margin-top: 10px;
  width: 100%;
}

.contact-sec .contact-us .submit button:hover {
  box-shadow: none;
}

.contact-sec .contact-us .address span {
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #2c2a2a;
  margin: 10px 0;
}

.contact-sec .contact-us .map iframe {
  width: 100%;
}











/* ============================================================================= */
/* ************************ FAQ SECTION ************************* */
/* ============================================================================= */

.faq-sec {
  padding: 100px 0 20px;
}

.faq-sec .faq {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 10px;
}

.faq-sec .faq .faq-tab-buttons {
  display: flex;
  margin-top: 20px;
}

.faq-sec .faq .faq-tab-buttons button {
  width: 100%;
  background: #fff;
  border: 1px solid #c9c9c9;
  border-top: none;
  font-size: 16px;
  font-weight: 500;
  color: #8e8d8d;
  padding: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: var(--bs-transition);
}

.faq-sec .faq .faq-tab-buttons button:hover {
  background: var(--bs-red);
  color: #fff;
  box-shadow: none;
}

.faq-sec .faq .faq-content {
  margin-top: 12px;
}

.faq-sec .faq .faq-heading {
  font-size: 22px;
  border-bottom: 1px solid var(--bs-red);
  padding-bottom: 5px;
  color: var(--bs-red);
  margin-top: 20px;
  margin-bottom: 20px;
}

.faq-sec .faq .accordion-button:focus {
  border-color: none;
  box-shadow: none;
}

.faq-sec .faq .accordion-button:not(.collapsed) {
  color: #fff;
  background-color: var(--bs-red);
  box-shadow: none;
}

.faq-sec .faq .accordion-button {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

.faq-sec .faq .accordion-body {
  color: #7c7c7c;
  font-weight: 500;
}

.faq-sec .faq .accordion-body a {
  color: var(--bs-red);
}

.faq-tab {
  display: none;
}

.active-faq-tab {
  display: block;
}

.active-faq-button {
  background: var(--bs-red) !important;
  color: #fff !important;
  box-shadow: none !important;
}

@media (max-width: 500px) {
  .faq-sec .faq .faq-tab-buttons {
    display: block;
  }
}

.vendor-div .vendor-detail h4 {
  font-size: 14px !important;
}